/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #e53939, #000000);
    color: #ffffff;
}

header {
    text-align: center;
    padding: 50px 0;
    background: #000000;
    color: #ffffff;
    border-bottom: 3px solid #e53939;
    margin-bottom: 30px;
    top: 0;
    position: relative;
}

.conteudo{
    padding: 30px;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #ffffff;
    font-size: 2rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #e53939;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.02);
}

.text{
    font-size: 1.6em;
    margin-left: 2%;
}

h2 {
    color: #e53939;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.info-pessoal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.foto-pessoal {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e53939;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.detalhes {
    margin-left: 20px;
    font-size: 1.2rem;
}
.detalhes p{
    padding-bottom: 7px;
}

/* Seção Sobre Mim com Botões e Imagem */
.sobre-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.texto-sobre {
    flex: 1;
    margin-right: 20px;
}

.botoes {
    margin-top: 20px;
    margin-left: 30%;
}

.botoes a {
    text-decoration: none;
    color: #ffffff;
    background-color: #e53939;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botoes a:hover {
    background-color: #ffffff;
    color: #e53939;
}

.img-sobre-container {
    flex: 1;
    max-width: 500px;
}


.sobre p, .motivacoes p {
    text-align: justify;
    margin-bottom: 20px;
}

/* Seção Gostos Pessoais */
.gostos-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-gostos-container .img-motivacoes-container{
    flex: 1;
    max-width: 400px;
}

.texto-gostos {
    flex: 1;
    font-size:1.5em;
    margin-left: 20px;

}
.texto-gostos li{
    padding-bottom: 2%;
    margin-left: 8%;
}

.gos{
    margin-right: 1%;
}

.img-gostos .img-motivacoes .img-sobre{
    width: 100%;
}

/* Seção Motivação */
.motivacoes-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.texto-motivacoes {
    flex: 1;
    margin-right: 20px;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    border-top: 3px solid #e53939;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
}
.social-icons{
    color: #ffffff;
}
/* Animações */
section h2 {
    position: relative;
    overflow: hidden;
}

section h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e53939;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

section:hover h2::after {
    transform: translateX(0);
}


